@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar utility */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

/* Par exemple, dans ton CSS global */
body {
  background-color: var(--dark-bg);
}

input,
textarea {
  outline: inherit;
}
